* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
}

html,
body {
  background-color: #f28ab2;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  background-color: white;
  padding: 1.2rem;
  margin: 4rem auto;
  width: 90vw;
}

.anniversaries {
  margin-bottom: 35px;
}

/* Person css */
.person-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.person-container p {
  font-size: 12px;
  color: #617d98;
}

.person-img {
  margin-right: 15px;
}

/* Media query */

@media screen and (min-width: 768px) {
  .grid {
    width: 450px;
    max-width: 1170px;
  }
}
